.modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(55, 55, 55, .6);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-confirm {
    width: 25vw;
    height: 20vh;
    box-sizing: border-box;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(42, 42, 42, 0.3);
}

@media only screen and (max-width: 640px) {
    .modal-confirm {
        width: 100%;
        margin: 0 20px;
        padding: 10px 20px;
    }
}

.modal-enter,
.modal-leave {
    opacity: 0;
}

.modal-transition {
    transition: all .3s ease;
}

.modal-enter .modal-confirm,
.modal-leave .modal-confirm {
    transform: scale(1.1);
}

.modal-transition {
    transition: all .3s ease;
}

.modal-header {
    /* background: #fff; */
    display: flex;
    flex-direction: row;
    z-index: 999;
    justify-content: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    /* width: 70vw; */
    /* color: blue; */
    /* box-shadow: 0 5px 5px rgba(42, 42, 42, 0.3); */
}


.confirm-content {
    margin-top: 1rem;
    flex: 1;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    text-justify: center;
    vertical-align: middle;
    /* size: 1.5rem; */
    /* font-size: 0.9rem; */
    /* background: #f3f3f0; */
}

.confirm-btns {
    height: 3rem;
    /* background: #eee; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-top: solid 1px #ccc; */
    justify-content: center;
    align-items: center;

}

.close:hover{
    cursor:pointer;
    color: #3498db;
}